<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/dashboard">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-umbrella-beach"></i>
        </div>
        <div class="sidebar-brand-text mx-3">StayCation</div>
    </a>

    <!-- Divider -->
    <!-- <hr class="mt-1"> -->

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/dashboard">
            <i class="fas fa-chart-line"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class=" mt-3">

    <!-- Heading -->
    <div class="sidebar-heading">
        Menu
    </div>

    <!-- Nav Item - Categories -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/category">
            <i class="fas fa-fw fa-list-ul"></i>
            <span>Category</span></a>
    </li>

    <!-- Nav Item - Banks -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/bank">
            <i class="fas fa-fw fa-dollar-sign"></i>
            <span>Bank</span></a>
    </li>
    <!-- Nav Item - Items -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/item">
            <i class="fas fa-fw fa-sitemap"></i>
            <span>Item</span></a>
    </li>

    <!-- Divider -->
    <hr class="mt-3">

    <!-- Heading -->
    <div class="sidebar-heading">Order</div>

    <!-- Nav Item - Items -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/booking">
            <i class="fas fa-fw fa-shopping-cart"></i>
            <span>Booking</span></a>
    </li>

    <!-- Divider -->
    <hr class="mt-4 d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>